<% include _layouts/header %>

<h1>hi there hello</h1>

<div class="row products">
  <% products.forEach(function(p) { %>
  <div class="col-xs-12 col-md-4">
    <a href="pa" href="/products/<%= p.category %>/<%= p.slug %>">
      <img
        class="pimage"
        src="./product_images/<%= p.id %>/<%= p.image %>"
        alt=""
      />
    </a>

    <h3>
      <%= p.title %>
    </h3>
    <h4>$ <%= parseFloat(p.price).toFixed(2) %></h4>
    <a href="/products/<%= p.category %>/<%= p.slug %>" class="vd"
      >View Details
    </a>
    <p><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
  </div>

  <% }); %>
</div>

<% include _layouts/login-modal %> <% include _layouts/footer %>
