<% include _layouts/header %> <% if (typeof cart !== "undefined") { %>

<div class="container">
  <table class="table table-striped mt-3">
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Subtotal</th>
    </tr>

    <% var total = 0 %> <% cart.forEach(function(product) { %> <% var sub =
    parseFloat(product.qty * product.price).toFixed(2) %> <% total += +sub %>

    <tr>
      <td>
        <img class="product-img-table" src="<%= product.image %>" alt="" />
      </td>
      <td>
        <%= product.title %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <%= product.qty %>
      </td>
      <td>
        <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
        <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
        <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
      </td>
      <td>$ <%= sub %></td>
    </tr>

    <% }); %>

    <tr>
      <td colspan="5"><b>total: </b>$ <%= total %></td>
    </tr>

    <tr>
      <td>
        <a href="/cart/clear">Clear cart</a>
      </td>
      <td>
        <a href="">Buy now</a>
      </td>
    </tr>
  </table>
</div>

<% } else { %>

<h3 class="mb-5 mt-5 text-center">Нямате добавени продукти в кошницата</h3>

<% } %> <% include _layouts/login-modal %> <% include _layouts/footer %>
