<% include _layouts/header %>

<div class="row">
  <h1 class="page-header">
    <%=p.title %>
  </h1>

  <div class="col-xs-12 col-md-5">
    <img alt="" src="./product_images/<%= p.id %>/<%= p.image %>" />
    <br />
  </div>

  <div class="col-xs-12 col-md-7">
    <p>
      <%= p.desc %>
    </p>
    <p>$ <%= parseFloat(p.price).toFixed(2) %></p>
    <p><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
  </div>

  <div class="col-xs-12">
    <ul class="gallery">
      <% galleryImages.forEach(function(image){ %> <% if (image != "thumbs") {
      %>

      <li>
        <a
          data-fancybox="gallery"
          href="./product_images/<%= p.id %>/gallery/thumbs/<%= image %>"
        >
          <img
            src="./product_images/<%= p.id %>/gallery/thumbs/<%= image %>"
            alt=""
          />
        </a>
      </li>

      <% } %> <% }); %>
    </ul>
  </div>
</div>

<% include _layouts/login-modal %> <% include _layouts/footer %>
