.et0-notification-box {
    position: fixed;
    width: 300px;
    border: 5px;
    right:20px;
    top: 20px;
    padding: 30px 20px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: white;
    border-left: 15px solid pink;

}


