@import './../../styles/variables.scss';

.et-menu-container {
    display: flex;
    position: relative;
    background: white;

    z-index: 20;
    height: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0px;
    transition: .45s all ease-in-out;

    .et0-menu-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        align-items: center;

        .et0-menu-items {

            display: flex;
            flex: 3;


            .et-menu-item {
                background: white;
                cursor: pointer;
                margin-right: 20px;
                text-decoration: underline;

                .et-menu-item-wrapper {
                    .et-menu-title {
                        h3 {
                            font-weight: 300;
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                    }
                }

                &.active .et-menu-list-wrapper {
                    // transform: translateY(0%);
                    opacity: 1;
                    user-select: unset;
                    transform: translateY(0%);
                    visibility: visible;
                }
            }


            .et-menu-list-wrapper {
                visibility: hidden;
                user-select: none;
                display: flex;
                flex-direction: row;
                background-position: bottom;
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                left: 0px;
                opacity: 0;
                transform: translateY(-5%);
                transition: .25s all ease-in-out;
                top: 100px;
                background: white;

                .et-menu-list {

                    flex-basis: 40%;

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        color: $color-dark-1;
                        text-transform: uppercase;
                    }
                }

                .et-menu-img-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .top-menu-link {
                    list-style: none;
                    padding: 10px;
                    border-bottom: 2px solid $light-grow;
                    margin: 10px 20px;
                }
            }

            img {
                max-width: 300px;
                object-fit: cover;
            }
        }

        .et0-top-controls {
            margin-left: 15px;

            .e0-top-search input {
                border-bottom: 1px solid rgba(1, 1, 1, .2);
                width: 150px;
            }

            .loupe-icon {
                width: 20px;
            }

            .et0-user-cart-status {
                margin-left: 25px;


                .et0-heart-icon-box {

                    margin-right: 10px;
                    cursor: pointer;
                    position: relative;

                    .et0-count-num {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid black;
                        top: -50%;
                        right: -60%;
                        font-size: 14px;
                    }

                    .et0-heart-icon {
                        width: 20px;

                    }
                }

                .et0-cart-icon-box {
                    cursor: pointer;
                    position: relative;

                    .et0-count-num {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid black;
                        top: -50%;
                        right: -60%;
                        font-size: 14px;

                    }

                    .et0-cart-icon {
                        width: 20px;

                    }
                }
            }



        }




    }



}