@import './../../../styles/variables.scss';

.et0-admin-header {
    height: 80px;
    background: $cinnamon-satin;
    color: white;
    text-transform: uppercase;
    font-size: 18px;;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    ul {
        list-style: none;
        display: flex;

        li {
            margin-right: 15px;;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }
}