<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Промени категория</h2>
<a href="/admin/categories" class="btn btn-primary">Обратно</a>
<br /><br />

<form
  action="/admin/categories/edit-category/<%= id %>"
  method="post"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="">Категория</label>
    <input
      type="text"
      class="form-control"
      name="title"
      placeholder="title"
      value="<%= title %>"
    />

    <div class="form-group">
      <label for="">Slug</label>
      <input
        type="text"
        class="form-control"
        name="slug"
        value="<%= category.slug %>"
        placeholder="slug"
      />
    </div>

    <select name="parent" id="" class="form-control">
      <option value="null">-</option>
      <% categories.forEach(function(cat) { %> <% var selected = category.parent
      == cat.title ? 'selected' : '' %>
      <option
        id="id_<%= category._id %>"
        class="<%= category.slug %> form-control"
        value="<%= cat.title %>"
        <%="selected"
        %
        >> <%= cat.title %>
      </option>
      <% }); %>
    </select>

    <div class="form-group">
      <label for="">Image</label>
      <input type="file" class="form-control" name="image" id="img" />
      <img src="#" alt="" id="imgPreview" />
    </div>

    <div class="form-group">
      <label for="">Current Image</label>
      <p>
        <% if(image == "") { %>
        <img id="noimage" src="/images/noimage.png" alt="" />
        <% } else {%>
        <img
          id="noimage"
          src="./category_images/<%= id %>/<%= image %>"
          alt=""
          style="width: 400px"
        />
        <% } %>
      </p>
    </div>

    <input type="hidden" name="pimage" value="<%= image %>" />
  </div>

  <button
    type="
    submit"
    class="btn btn-default"
  >
    Submit
  </button>
</form>

<script>
  //preview image
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $("#imgPreview")
          .attr("src", e.target.result)
          .width(100)
          .height(100);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#img").change(function() {
    readURL(this);
  });

  //Dropzone

  Dropzone.options.dropzoneForm = {
    acceptedFiles: "image/*",
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {
          location.reload();
        }, 1000);
      });
    }
  };
</script>

<%- include('../_layouts/adminfooter')%>
