<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Промени продукт</h2>
<a href="/admin/products" class="btn btn-primary">Обратно</a>

<form
  method="post"
  action="/admin/products/edit-product/<%= id %>"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="">Заглавие</label>
    <input
      type="text"
      class="form-control"
      name="title"
      value="<%= title %>"
      placeholder="Title"
    />
  </div>
  <div class="form-group">
    <label for="">Slug</label>
    <input
      type="text"
      class="form-control"
      name="slug"
      value="<%= slug %>"
      placeholder="Slug"
    />
  </div>

  <div class="form-group">
    <label for="">Описание</label>
    <textarea
      name="desc"
      class="form-control"
      cols="30"
      rows="10"
      placeholder="Description"
    >
<%= desc %></textarea
    >
  </div>

  <div class="form-group">
    <label for="">Категория</label>
    <select name="category" class="form-control">
      <% categories.forEach(function(cat) { %>

      <option value="<%= cat.slug %>">
        <%= cat.title %>
      </option>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label for="">Цена</label>
    <input
      type="text"
      class="form-control"
      name="price"
      value="<%= price %>"
      placeholder="Price"
    />
  </div>

  <div class="form-group">
    <label for="">Image</label>
    <input type="file" class="form-control" name="image" id="img" />
    <img src="#" alt="" id="imgPreview" />
  </div>

  <div class="form-group">
    <label for="">Current Image</label>
    <p>
      <% if(image == "") { %>
      <img id="noimage" src="./images/noimage.png" alt="" />
      <% } else {%>
      <img
        id="noimage"
        src="../product_images/<%= id %>/<%= image %>"
        alt=""
        style="width: 400px"
      />
      <% } %>
    </p>
  </div>

  <input type="hidden" name="pimage" value="<%= image %>" />

  <button
    type="
                submit"
    class="btn btn-default"
  >
    Submit
  </button>
</form>

<h3 class="page-header">Галерия</h3>

<ul class="gallery">
  <% galleryImages.forEach(function(image) { %> <% if(image != "thumbs") { %>
  <li>
    <img src="../product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="" />
    <a
      href="/admin/products/delete-image/<%= image %>?id=<%= id %>"
      class="confirmDeletion"
      >delete</a
    >
  </li>

  <% } %> <% }); %>
</ul>

<form
  action="/admin/products/product-gallery/<%= id %>"
  method="POST"
  enctype="multipart/form-data"
  class="dropzone"
  id="dropzoneForm"
>
  <div class="fallback">
    <input type="file" name="file" multiple />
    <input type="submit" value="Upload" />
  </div>
</form>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

<script>
  //preview image
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $("#imgPreview")
          .attr("src", e.target.result)
          .width(100)
          .height(100);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#img").change(function() {
    readURL(this);
  });
</script>

<%- include('../_layouts/adminfooter') %>
