@import './../../styles/variables.scss';

.top-page-links {
  text-transform: uppercase;
  display: flex;
  color: $color-dark-1;
  background: $snow;
  height: 50px;
  align-content: center;

  a {
    color: $color-dark-1;
    cursor: pointer;
  }

  .auth-link {
    height: 15px;
  }
}

.auth-icon {
  width: 15px;
}


.logo-page-row {
  height: 60px;
  width: 100%;
  background: #55528E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #55528E, #ABA9C3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #55528E, #ABA9C3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 10px solid $color-dark-1;
  display: flex;
  justify-content: center;


  .logo-box {
    width: 75px;
    height: 75px;
    background: $color-dark-1;
    font-size: 24px;
    text-transform: uppercase;
    transform: rotate(45deg);
    color: #55528E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 50;

    &:after {
      width: 180%;
      height: 140%;
      background: rgba(255, 255, 255, .06);
      content: '';
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      bottom: 47%;
      left: 19%;
      // top: 50%;
      // transform: translate(-50%, -50%) rotate(-45deg);
    }



    .logo-text {
      transform: rotate(-45deg);
    }
  }
}
