
.et0-table {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .et0-table-heading {
        text-align: left;
        text-transform: uppercase;
    }

    thead {
        tr {
            height: 40px;
            background: violet;
            color: white;
        }

        th {
            padding: 5px;
            border-right:1px solid white;
        }
    }

    tbody {
        tr {
            height: 40px;
            border-bottom:1px solid #dad8d8;
            cursor: pointer;
            
    
            &:nth-child(2n) {
                background: rgb(243, 227, 243);
            }

            td {
                padding: 5px;
                border-right:1px solid #dad8d8;
            }
        }
    }


}

