@import './../../styles/variables.scss';


.et0-card {

    position: relative;
    flex: 1;
    padding: 0px 10px;


    .et0-card-shape {
        position: relative;
        padding-bottom: 165%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


        .et0-card-content {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    img {
        width: 100%;
    }

    .et0-featured-image {
        position: relative;
        height: 75%;
        width: 100%;

        .et0-image-box {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            transition: .25s all ease-in-out;
            border-radius: 2px;

            &:hover .et0-image1 {
                opacity: 0;
            }

            .et0-image1 {
                z-index: 2;
            }

            .et0-image2 {
                z-index: 1;
            }

            .et0-image1,
            .et0-image2 {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: .25s all ease-in-out;
            }

            img {
                object-fit: cover;
            }
        }

        .et0-like {

            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 10;

            .et0-card-heart {}

            .et0-card-heart {
                width: 35px;
                height: 35px;
                cursor: pointer;
                stroke: $purple;
                stroke-width: 25px;
                overflow: visible;
                // fill: rgba(171, 169, 195, 0.466);

                &.active {
                    fill: $purple;
                }
            }
        }
    }


    .et0-description-box {
        padding: 10px;

        .et0-pr-title {
            padding-bottom: 10px;
            margin-bottom: 5px;
            border-bottom: 1px solid #999;

            h1 {
                font-size: 16px;
                line-height: 1.2em;
            }
        }

        .et0-cart-price {
            display: flex;
            justify-content: space-between;

            .et0-cart-icon-wrap {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: rgba(153, 153, 153, 0.418);
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    stroke: white;
                }
            }


        }

        h1 {
            font-size: 20px;
        }

        .et0-cart-price-text {
            font-weight: bold;
            color: $purple;
            font-size: 18px;
        }
    }
}