

.et0-slide-container {
    width: 100%;
    position: relative;
    padding-bottom: 40%;

    .et0-slide-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            object-position: center;
            z-index: -1;
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;

        }

        .et0-slide-overlay-data {
            background: rgba(1, 1, 1, .2);
            z-index: 2;
            position: relative;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            text-align: center;

            h2 {
                margin: 0;
            }

            .at0-slide-text {
                width: 50%;
                margin: 0 auto;
                
            }
        }
    }
}