

.et0-register-form {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px 65px;
    background: #fff;
    border-radius: 5px;

    .et0-form {
        
    }

    .et0-form-label {
        margin-bottom: 25px;
        text-align: center;
    }

    .et0-field-label {
        font-size: 14px;
    }

    .et0-form-field {

        margin-bottom: 15px;

        .et0-input-field {
            width: 100%;
            height: 32px;
            border: 1px solid rgba(110, 110, 110, 0.397);
            border-left: 5px solid rgba(128, 0, 128, 0.507);
            padding-left: 15px;
        }
    }
}