@import './../../styles/variables.scss';


.et0-pr-row-box {

    .et0-pr-row-label {

        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 34px;
            font-weight: 300;
            color: #333;
            text-transform: uppercase;
        }
    
    }

  
    .et0-pr-row {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0;

        .et0-card {
            flex-basis: 100%;
        }
    
        @media screen and (min-width: 320px) {
            
        }
    
        @media screen and (min-width: 480px) {
            
        }
    
        @media screen and (min-width: 769px) {
            .et0-card {
                flex-basis: 50%;
                max-width: 50%;
            }
        }
    
        @media screen and (min-width: 1025px) {
            .et0-card {
                flex-basis: 33.333%;
                max-width: 33.333%;
                padding: 0px 25px;
                margin-bottom: 3em;
            }
        }
    }


    // 320px — 480px: Mobile devices.
    // 481px — 768px: iPads, Tablets.
    // 769px — 1024px: Small screens, laptops.
    // 1025px — 1200px: Desktops, large screens.
    // 1201px and more — Extra large screens, TV.
    
}

