@import './../../styles/variables.scss';


.et0-registration-page {
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 45px 0px 150px 0px;
}

.et0-registration-form-box {
    width: 340px;
    margin: 0 auto;

    width: 400px;
margin: 0 auto;
}