@import './../../styles/variables.scss';


.product-page {
    .et-image-container {

        flex-basis: 40%;

        img {
            width: 100%;
        }
    }

    .et-pr-info-box {
        flex-basis: 60%;
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .et-pr-title {

            h1 {
                font-size: 28px;
                font-weight: bold;

            }

        }

        .et-pr-price {
            h3 {
                font-size: 26px;
                color: $dark-bozantium;
                margin: .35em 0em .65em 0em;
                font-weight: bold;
            }

            .et0-currency {
                font-size: 24px;
                font-weight: 500;
            }
        }

        .et0-pr-code {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .et0-rating-box {
                .et0-star-icon {
                    width: 20px;
                    margin: 0px 1px;
                    transition: .1s all ease-in-out;
                    cursor: pointer;
                    stroke: $dark-bozantium;
                    fill: $dark-bozantium;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }

        .et0-color-box {
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0px;
                margin: 10px 0px;

                .et0-pr-color {
                    width: 20px;
                    height: 20px;
                    background: grey;
                    border-radius: 2px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    transition: .1s all ease-in-out;
                    cursor: pointer;
                    margin-right: 3px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .et0-buy-btn {
            width: 100%;
        }

        .et0-description {
            margin-top: 25px;
        }
    }
}