@import './../../styles/variables.scss';


.et0-footer {
    padding: 50px 0px;
    margin-top: 10rem;
    background: #444;
    color: #fff;

    .et0-footer-container {
        display: flex;
        justify-content: space-between;

        .et0-footer-column {
            display: flex;
            flex-direction: column;
            flex: 1;
            border-right: 1px solid rgba(255, 255, 255, .08);
            padding-left: 15px;

            &.social {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                border-right: none;

            }

            .et0-link {
                color: #fff;
                text-decoration: none;
                transition: .24s all ease-in-out;
                margin: 5px 5px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .et-footer-icon {

                &.facebook {
                    width: 50px;
                    height: 50px;
                    // background: blue;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;
                }

                svg {
                    width: 30px;
                    fill: white;
                }
            }
        }
    }
}