@font-face {
    font-family: "Roboto Black";
    src: url("./../assets/fonts/Roboto-Black.ttf") format("ttf"),
}

@font-face {
    font-family: "Roboto Bold";
    src: url("./../assets/fonts/Roboto-Bold.ttf") format("ttf"),
}

@font-face {
    font-family: "Roboto Light";
    src: url("./../assets/fonts/Roboto-Light.ttf") format("ttf"),
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./../assets/fonts/Roboto-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "Roboto Thin";
    src: url("./../assets/fonts/Roboto-Thin.ttf") format("ttf"),
}

