
$color-dark-1: #0a0f0d;
$snow: #FCF7F8;
$light-grow: #CED3DC;
$light-purple: #ABA9C3;
$black-coral: #5B616A;

$purple: #985277;
$cinnamon-satin: #CE6A85;
$dark-bozantium: #5C374C;

$roboto-black: 'Roboto Black';
$roboto-bold: 'Roboto Bold';
$roboto-light: 'Roboto Light';
$roboto-regular: 'Roboto Regular';
$roboto-thin: 'Roboto Thin';