@import './styles/fonts.scss';

@import './styles/variables.scss';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}


b,
strong {
  font-weight: bold;
}


dfn {
  font-style: italic;
}

h1 {
  margin: 0;
}


mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}


figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}


button,
select {
  text-transform: none;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}


button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


input {
  line-height: normal;
}


input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


legend {
  border: 0;
  padding: 0;
}


textarea {
  overflow: auto;
}


optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

//NORMALIZE STYLES



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  padding: 0px;
  box-sizing: border-box;
}

p {
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

.jc-right {
  justify-content: flex-end;
}

.mr-10 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 3px;
}

.ac-center {
  align-content: center;
}

.ai-center {
  align-items: center;
}




.page-container {
  width: 900px;
  max-width: 100%;
}


// colors

//buttons

button, input {
  outline: none;
  border: none;

}

.et-btn-1 {
  width: 100%;
  height: 42px;
  background: $purple;
  cursor: pointer;
  color:white;
  text-transform: uppercase;
  border-radius: 2px;
  transition: .35s all ease-in-out;
}

//buttons


//text

.et0-text-3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4em;
}

//text



//forms

.et0-form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px 65px;
  background: #fff;
  border-radius: 5px;

  .et0-form {
      
  }

  .et0-form-label {
      margin-bottom: 25px;
      text-align: center;
  }

  .et0-field-label {
      font-size: 14px;
  }

  .et0-form-field {

      margin-bottom: 15px;

      .et0-input-field {
          width: 100%;
          height: 32px;
          border: 1px solid rgba(110, 110, 110, 0.397);
          border-left: 5px solid rgba(128, 0, 128, 0.507);
          padding-left: 15px;
          outline: none;
      }

      textarea.et0-input-field {
        height: unset;
      }

      .et0-input-field {

      }
  }
}

//forms


//buttons

.et0-button-submit {
  background: rgba(128, 0, 128, 0.507);
  height: 40px;
  min-width: 150px;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  margin-top: 25px;

  &.full-width{
    width: 100%;
  }
}


//buttons


//modals
.et0-overlay {
  position: fixed;
  z-index: 50;
  background: rgba(1, 1, 1, .3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .et0-modal-close-icon {
    position: absolute;
    width: 15px;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
}
//modals